<div class="modal-header">
    Sign Up
</div>
<div class="modal-content">
    <p>Nice to meet you 👋</p>
    <form action="" class="modal-form">
        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter Email">
            <small>Error Message</small>
        </div>
        <div class="form-control">
            <label for="name">Name</label>
            <input type="name" name="name" id="name" placeholder="Enter Name">
            <small>Error Message</small>
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password">
            <small>Error Message</small>
        </div>
        <div class="Conform-password">
            <label for="password">Conform Password</label>
            <input type="password" name="Conform-password" id="Conform-password" placeholder="Confirm Password">
            <small>Error Message</small>
        </div>
        <div class="form-control">
            <input type="submit" value="Submit" class="submit">
        </div>
    </form>                
</div>