<header>
    <button id="toggle" class="toggle">
        <i class="fa fa-bars fa-2x"></i>
    </button>
    <p id="titleOfHeader">MAKE YOUR DAY PRODUCTIVE</p>
    <p id="contents"> plan your day, accomplish your day </p>
    <!--is Auth 아닌 경우에만 띄워주기!-->
    <% if(!isAuthenticated) { %>
    <div class="notSingin">
        <a href="/login">Login</a>
        <a href="/signup"> sign up</a>
    </div>
    <% } %>
</header>