<header>
    <button id="toggle" class="toggle">
        <i class="fa fa-bars fa-2x"></i>
    </button>
    <a id="titleOfHeader" href="/">MAKE YOUR DAY PLANNABLE</a>
    <% if(!isAuthenticated) { %>
        <div class="SignIn">
            <a href="/signIn" class="login">Login</a>
            <a href="/signup" class="signUp"> sign up</a>
        </div>
    <% } else {%>
        <div class="SignIn">
            <a href="/logout" class="logout"> <i class="fas fa-sign-out-alt"></i> logout</a>
        </div>
    <% }  %>
</header>