<header>
    <button id="nav__toggle" class="nav__toggle">
        <i class="fa fa-bars fa-2x"></i>
    </button>
    <a class="header__title" href="/">MAKE YOUR DAY PLANNABLE</a>
    <% if(!isAuthenticated) { %>
        <div class="sign__container">
            <a href="/signIn" class="login__link">Login</a>
            <a href="/signup" class="signUp__link"> sign up</a>
        </div>
    <% } else {%>
        <div class="sign__container">
            <a href="/logout" class="logout__link"> <i class="fas fa-sign-out-alt"></i>logout</a>
        </div>
    <% }  %>
</header>