<nav>
    <div class="logo">
     <% if(isAuthenticated){ %>
     <p>Hello, <%= userName %> 🤩</p> <!-- User 부분을 User name 받아와서 변경해주기!-->
     <!--is auth 가 아닌경우 다른 문구 출력-->
     <% } else {%>
        <p> Hi there ! 🧓🏾</p>
     <% } %>
    </div>
     <ul>
         <li> <a href="/today-todo">TODAY TO DO</a></li>
         <li> <a href="/todo-post">MY TO DO LIST</a></li>
     </ul>
 </nav>