<nav>
    <div class="nav__container">
        <button id="close__btn" class="close__btn">
            <i class="fa fa-bars fa-2x"></i>
        </button>
        <div class="user__info">
            <% if(isAuthenticated){ %>
            <p class="user__quotes">Hello, <%= userName %> 🤩</p> <!-- User 부분을 User name 받아와서 변경해주기!-->
            <!--is auth 가 아닌경우 다른 문구 출력-->
            <% } else {%>
               <p class="user__quotes"> Hi there ! 🧓🏾</p>
            <% } %>
        </div>
        <ul class="list__container">
            <li class="single__list"> <a href="/today-todo">TODAY TO DO</a></li>
            <li class="single__list"> <a href="/todo-post">MY TO DO LIST</a></li>
        </ul>
            <% if(isAuthenticated){ %>
               <a href="" class="setting__btn">
                   <i class="fas fa-cog"></i>
               </a>
           <% } %>
    </div>
 </nav>