
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Thasadith:wght@700&display=swap&family=Bebas+Neue&display=swap');

:root{
    --primary-color:#04B4AE;
    --secondary-color:#FFBF00;
}
.edit__modal__container{ /* modal 외부 */
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    display: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:20px;
}

.edit__modal .submit__contents{
    margin-top: 20px;
    width: 80%;
    font-size: 20px;
    border:none;
    border-bottom: 1px solid black;
}

.edit__modal__container.show-modal{
    display: block;
}


.edit__modal{
    font-family: 'Thasadith', sans-serif;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3); 
    overflow: hidden;
    top:50%;
    left:50%;
    z-index: 1;
    max-width: 100%;
    transform: translate(-50%, -50%);
    width:40%;
}


.edit__header{
    background-color: var(--primary-color);
    font-size: 24px;
    padding: 10px;
    margin:0;
}

.close__edit{
    background-color: transparent;
    position: absolute;
    top:5px;
    right:5px;
    font-size: 25px;
    padding:0 10px;
}

.close__edit input{
    padding : 8px;
}

.close__edit #submit__contents{
    margin-top: 20px;
    width: 80%;
    font-size: 20px;
    border:none;
    border-bottom: 1px solid black;
}

.form__control{
    display: block;
    margin:15px 0;
    text-align: center;
}



@media (max-width:1000px){

    .edit__modal{
        width:90%;
    }
  }