
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Thasadith:wght@700&display=swap&family=Bebas+Neue&display=swap');

:root{
    --primary-color:#04B4AE;
    --secondary-color:#FFBF00;
}

*{
    box-sizing: border-box;
}

body{
    overflow-x:hidden;
    margin: 0;
    padding:0;
    transition: transform 0.3s ease;
}

body.show-nav{
    transform: translateX(300px);
}

button , .button, input[type='submit'], input[type='button']{
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-size:20px;
}