
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Thasadith:wght@700&display=swap&family=Bebas+Neue&display=swap');

:root{
    --primary-color:#04B4AE;
    --secondary-color:#FFBF00;
}

nav{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: none;
    z-index: 2;
}

nav.show-nav{
    display: block;
    
}

nav .close__btn{
    background-color: rgba(0,0,0,0.5);   
    font-size: 10px;
    padding: 7px 10px;
    border: none;
    position: absolute;
    top: 10px;
    right: 5px;

}


.nav__container{
    background-color: var(--primary-color);
    width: 300px;
    min-height: 100vh;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    font-family: 'Thasadith', sans-serif;
}


.nav__container .user__info{
    padding: 20px 0;
    text-align: center;
}


.nav__container .user__info .user__quotes{
    color: #fff;
    font-size:24px;
}

.nav__container .list__container{
    list-style-type: none;
    margin :0;
    padding : 0;
}

.nav__container .list__container .single__list{
    margin: 50px 0;
    text-align: center;
}

.nav__container .list__container .single__list a{
    color: #fff;
    font-size:24px;
    text-decoration: none;
}

.nav__container .list__container .single__list a:hover{
    color: var(--secondary-color);
    
}


nav .setting__btn{
    position: absolute;
    top : 10px;
    left: 25px;
    font-size: 25px;
    color:#fff
}

