
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Thasadith:wght@700&display=swap&family=Bebas+Neue&display=swap');

:root{
    --primary-color:#04B4AE;
    --secondary-color:#FFBF00;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin : 50px auto;
    padding : 15px;
    max-width: 100%;
    font-family: 'Thasadith', sans-serif;
    text-align: center;
}

.add-todo .newTask{
    background-color: transparent;
    border:none;
    font-size:35px;
    border-bottom:1px solid black;
}

.todo-post{
  position: relative;
  width:40%;
  height: 100%;
}

.todo-list{
    margin: 50px auto;
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:0 5px 30px rgba(0,0,0,0.2);
}

.todo{
    display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
}

.todo:last-child{
    border-bottom: none;
}

.todo__state{
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 15px;
    width: 80%;
    height:30px;
    z-index: 1;
    opacity: 0;
}
.todo #contents{
    color: #135156;
    -webkit-transition: all 0.4s linear 0.4s;
    transition: all 0.4s linear 0.4s;
}

.todo__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: auto;
    margin: auto;
    fill: none;
    stroke: #27FDC7;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .todo__line,
  .todo__box,
  .todo__check {
    -webkit-transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
    transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
  }
  .todo__circle {
    stroke: #27FDC7;
    stroke-dasharray: 1 6;
    stroke-width: 0;
    -webkit-transform-origin: 13.5px 12.5px;
            transform-origin: 13.5px 12.5px;
    -webkit-transform: scale(0.4) rotate(0deg);
            transform: scale(0.4) rotate(0deg);
    -webkit-animation: none 0.8s linear;
            animation: none 0.8s linear;
  }
  @-webkit-keyframes explode {
    30% {
      stroke-width: 3;
      stroke-opacity: 1;
      -webkit-transform: scale(0.8) rotate(40deg);
              transform: scale(0.8) rotate(40deg);
    }
    100% {
      stroke-width: 0;
      stroke-opacity: 0;
      -webkit-transform: scale(1.1) rotate(60deg);
              transform: scale(1.1) rotate(60deg);
    }
  }
  @keyframes explode {
    30% {
      stroke-width: 3;
      stroke-opacity: 1;
      -webkit-transform: scale(0.8) rotate(40deg);
              transform: scale(0.8) rotate(40deg);
    }
    100% {
      stroke-width: 0;
      stroke-opacity: 0;
      -webkit-transform: scale(1.1) rotate(60deg);
              transform: scale(1.1) rotate(60deg);
    }
  }
  .todo__box {
    stroke-dasharray: 56.1053, 56.1053;
    stroke-dashoffset: 0;
    -webkit-transition-delay: 0.16s;
            transition-delay: 0.16s;
  }
  .todo__check {
    stroke: #27FDC7;
    stroke-dasharray: 9.8995, 9.8995;
    stroke-dashoffset: 9.8995;
    -webkit-transition-duration: 0.32s;
            transition-duration: 0.32s;
  }
  .todo__line {
    stroke-dasharray: 168, 1684;
    stroke-dashoffset: 168;
  }
  .todo__circle {
    -webkit-animation-delay: 0.56s;
            animation-delay: 0.56s;
    -webkit-animation-duration: 0.56s;
            animation-duration: 0.56s;
  }
  .todo__state:checked ~ #contents {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    color: #5EBEC1;
    opacity: 0.6;
  }
  .todo__state:checked~ .todo__icon .todo__box {
    stroke-dashoffset: 56.1053;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .todo__state:checked ~ .todo__icon .todo__line {
    stroke-dashoffset: -8;
  }
  .todo__state:checked ~ .todo__icon .todo__check {
    stroke-dashoffset: 0;
    -webkit-transition-delay: 0.48s;
            transition-delay: 0.48s;
  }
  .todo__state:checked ~ .todo__icon .todo__circle {
    -webkit-animation-name: explode;
            animation-name: explode;
  }

.add-todo .newTask{
    background-color: transparent;
    border:none;
    font-size:35px;
    border-bottom:1px solid black;
}


.radio-box{
    margin-top: 20px;
    padding: 5px;
}

.radio-box :hover{
    color: #04B4AE;
}

.dropdown{
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #04B4AE;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin:0;
}

.dropdown-content{
    display: none;
    position : absolute;
    background-color: #f9f9f9;
    min-width:130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a{
    cursor: pointer;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    float:none;
    font-size: 20px;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}

#clear.removed{
    display: none;
}

.todo-list.hidden{
   display: none;
}


#sort{
  position: absolute;
   text-decoration: none;
   color: #04B4AE;
   top: 15px;
   right: 10px;
   background-color: #ddd;
   margin-bottom: 5px;
   border-radius: 7px; 
   padding:5px;
}

#sort:hover{
    background-color: #04B4AE;
    color: #ddd;
}

#sort.removed{
    display: none;
}

/* 미디어 쿼리로 특정 width 넘겼을 때에는 , 위에 add to do 폼 없애고,
아래에  + 버튼 추가하여 모달창 띄워서 폼 띄워줌*/

.add-todo-modal{
  margin-top:5px;
  font-size: 30px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: none;
  position: fixed;
  bottom:0px;
}

.add-modal-container{
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display:none;
}

.add-modal-container.show-modal{
  display: block;
}

.add-modal{
  font-family: 'Thasadith', sans-serif;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.3); 
  overflow: hidden;
  top:50%;
  left:50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  width:90%;
}



.add-modal-header{
  background-color: var(--primary-color);
  font-size: 24px;
  padding: 10px;
  margin:0;
}

.add-close{
  background-color: transparent;
  position: absolute;
  top:5px;
  right:5px;
  font-size: 25px;
  padding:0 10px;
}

.add-modal-form input{
  padding : 8px;
}

.add-modal-form .newTask{
  margin-top: 20px;
  width: 80%;
  font-size: 20px;
  border:none;
  border-bottom: 1px solid black;
}



@media (max-width:1000px){

  .todo-post{
    width: 90%;
  }

  .add-todo{
    display: none;
  }

  .add-todo-modal{
    display: block;
  }
}