<%- include('../includes/head.ejs') %>
<title><%= pageTitle%></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <%- include('../includes/header.ejs') %>
<div class="container">
    <!--is auth 인 경우에만 보이도록 수정 !! -->
    <p id="logoTitle"> Life is Plannable </p>
    <a href="/today-todo" class="addTodoBtn button" id="addTodoBtn">add new to do</a>
    <p id="line"> </p>
    <p id="quotes">″You can always change your plan, but only if you have one. I’m a big believer in to-do lists. <br> It helps us break life into small steps. I once put “get tenure” on my to-do list. That was naïve. <br> The most useful to-do list breaks tasks into small steps. <br>It’s like when I encourage Logan to clean his room by picking up one thing at a time.″</p>
     <h2></h2>
 </div>
<script src="index_bundle.js"></script>
</body>
</html>